/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, black, navy);
}

@keyframes shine {
  0% {
    background-position: 0 0; /* Başlangıç pozisyonu */
  }
  100% {
    background-position: 200% 0; /* Bitiş pozisyonu (sağa kaydırarak parlaklık efekti) */
  }
}

.language-switch {
    position: absolute; /* Bayrak düğmelerini menünün içinde konumlandırmak için */
    top: 0;
    right: 0; /* Sağ üst köşeye yerleştir */
}

/* Düğme stilini özelleştirin */
.language-switch button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Bayrak resimlerini düğmelerin içinde ortala */
.language-switch img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/* Top Bar */
.rainbow-text {
    font-size: 48px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #3399ff, #9933ff); /* Gökkuşağı renk geçişi */
    background-clip: text; /* Yazıya uygula */
    -webkit-background-clip: text; /* Safari için */
    color: transparent; /* Metin rengini şeffaf yap */
}
.top-bar {
  background: linear-gradient(to left, #87CEEB, #000080); /* Sağdan sola skyblue ve lacivert gradyan */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
}

.top-bar a {
  color: white; /* Yazı rengi beyaz */
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  transition: all 0.3s ease;
  font-weight: bold; /* Kalın yazılar */
  font-family: Arial, sans-serif; /* Yazı tipi */
}

.top-bar a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Yazı parlama efekti */
}


.enflasyonkoin-info {
    font-weight: bold;
}

.buttons .btn {
    padding: 10px 20px;
    background-color: #00c3ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.buttons .btn:hover {
    background-color: red;
}


.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.paragraph {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.paragraph.show {
    opacity: 1;
    transform: translateY(0);
}

/* Slider Container */
.slider-container {
  
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: relative;
}
/* Düğme temel stil */
.dijital-buton {
      background: linear-gradient(90deg, #00FF00, #000080);

    width: 200px;
    height: 100px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}


/* Düğme içeriğini ortala */
.dijital-buton span {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Düğme üzerine gelince su dökülmesine benzer efekt */
.dijital-buton::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 70%); /* Su damlacığı rengi ve dağılımı */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Başlangıçta görünmez */
    border-radius: 50%;
    opacity: 0; /* Başlangıçta görünmez */
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Düğme hover stil */
.dijital-buton:hover {
    background-color: #0056b3; /* Hover sırasında daha koyu bir mavi renk */
}


/* Düğme üzerine gelince su dökülmesine benzer efekt aktif hale gelsin */
.dijital-buton:hover::before {
    transform: translate(-50%, -50%) scale(2); /* Su damlacığı büyüsün */
    opacity: 1; /* Görünür hale gelsin */
    animation: sparkle 5s infinite; /* Işıltı animasyonu */
}

/* Işıltı animasyonu */
@keyframes sparkle {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}

.slide {
   
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

/* Content Styling */
.content {
    
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
}

/* Dual Box Container */
.dual-box-container {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.dual-box {
    
    background-color: black;
    width: 48%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


      

 

/* Box Container */
.box-container {
   
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.box {
    
    flex: 1;
    background-color: #17414d;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    color: white ;
    font-size: 18px; /* 2 rem boyutunda metin */
}



.box:hover {
    transform: scale(1.05);
}

/* Box1'lere Uzay ve Işık Efekti Animasyonları */
.box1 {
    position: relative;
    background: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    color: white;
    overflow: hidden; /* İçeriği taşırmamak için */
}

/* Işık efekti için pseudo-element ekleyin */
.box1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 70%);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Hover sırasında efekti aktif hale getirin */
.box1:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Uzay arka planı için animasyon ekleyin */
@keyframes spaceBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Box1'lere uzay arka planını uygulayın */
.box1 {
    background: linear-gradient(-45deg, #020024, #090979, #00d4ff);
    background-size: 300% 300%;
    animation: spaceBackground 10s linear infinite;
}



/* Başlıklara Dişli Parlayan Işık Efekti */
h1, h2, h3 {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: white;
}

h1::before, h2::before, h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 70%);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

h1:hover::before, h2:hover::before, h3:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}



    


.sosyal-medya-kutusu {
    padding: 0; /* Önceki padding değerini kaldırıyoruz */
    display: flex;
    justify-content: center; /* Resimlerin yatayda ortalanmasını sağlar */
    align-items: center;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.sosyal-medya-kutusu a {
    text-decoration: none;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Resimleri bir arada tutmak için gerekli */
    align-items: center; /* Resimleri dikeyde ortala */
    position: relative; /* Yerel pozisyonu kullanarak overlay ekleyin */
}

.sosyal-medya-kutusu a img {
    width: 50px; /* Resimlerin boyutunu ayarlayın */
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Parlama efekti için */
}

.sosyal-medya-kutusu a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5); /* Mavi perde rengi (%50 saydam mavi) */
    border-radius: 50%;
    opacity: 1; /* Başlangıçta yarı saydam yapın */
    transition: opacity 0.3s ease-in-out;
}

.sosyal-medya-kutusu a:hover::before {
    opacity: 0; /* Resmin üzerine gelince perdeyi tamamen saydam yapın */
}

.sosyal-medya-kutusu a:hover img {
    transform: scale(1.1); /* Resim üzerine gelince büyütme efekti */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Parlama efekti artırıldı */
}


    
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: black;
        }
        
        .form-container {
            background-color: black;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
        }
        
        .form-container:hover {
            background-color: #ffcccc;
        }
        
        .form-title {
            font-size: 44px;
            margin-bottom: 10px;
            color: red;
        }
        
        .form-label {
            font-size: 18px;
            margin-bottom: 5px;
 color: orange; /* Yazı rengini turuncu yapalım */
    font-family: 'Roboto', sans-serif;
        }
        
        .form-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        color: orange; /* Yazı rengini turuncu yapalım */
    font-size: 18px; /* Yazı boyutunu 18 piksel yapalım */
    font-family: 'Roboto', sans-serif;
        }
        
        .form-button {
            background-color: #00c3ff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .form-button:hover {
            background-color: #0099cc;
        } video oyanıyor sorun nereden

    
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: black;
        }
        
        .form-container {
            background-color: black;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
        }
        
        .form-container:hover {
            background-color: #ffcccc;
        }
        
        .form-title {
            font-size: 44px;
            margin-bottom: 10px;
            color: red;
        }
        
        .form-label {
            font-size: 18px;
            margin-bottom: 5px;
 color: red; /* Yazı rengini turuncu yapalım */
    font-family: 'Roboto', sans-serif;
        }
        
        .form-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        color: red; /* Yazı rengini turuncu yapalım */
    font-size: 18px; /* Yazı boyutunu 18 piksel yapalım */
    font-family: 'Roboto', sans-serif;
        }
        
        .form-button {
            background-color: #00c3ff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
      .form-button:hover {
    background-color: red;
}




.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.containerf {
    height: 510px ;
    width: 100%;
    background: black ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white ;
}

.group {
    
    display: flex;
    margin-bottom: 20px;
    color: white ;
}

.column {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid #ddd;
    color: white ;
}

.column:last-child {
    border-right: none;
    color: white ;
}




a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
    color: black ;
}

.haber-box {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    color: black;
}

.haber-listesi {
    display: flex;
    transition: transform 0.3s ease; /* Kaydırma efekti için geçiş ekle */
    color: black ;
}

.haber {
    width: 300px;
    height: 300px;
    flex-shrink: 0; /* Haber kutusu boyutunu korur */
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black ;
}

.haber-icerik {
    padding: 15px;
    color: black ;
}
.ilgi-ceken-kutu {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.ilgi-ceken-kutu h2 {
    margin-bottom: 10px;
}

.ilgi-ceken-kutu ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.ilgi-ceken-kutu ul li {
    margin-bottom: 5px;
}

.ilgi-ceken-btn {
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.ilgi-ceken-btn:hover {
    background-color: #ff0000;
    color: white;
}
.gallery-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto ;
}

.gallery {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery img.active {
    opacity: 1;
}

.gallery img:nth-child(1) {
    animation: fade 6s infinite 2s;
}

.gallery img:nth-child(2) {
    animation: fade 6s infinite 4s;
}

.gallery img:nth-child(3) {
    animation: fade 6s infinite 6s;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

 .iframe-container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .iframe-box {
            width: 80%;
            max-width: 1200px;
            height: 80vh;
            border: 2px solid #ccc;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

